<!doctype html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}

      <section class="hero-section py-3 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center">
                    <img class="hero-figure mx-auto" style="padding-left: 20px ;" src="css/homeimg5.jpg" alt="" width="93%">
                </div>
                <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
                    <h1 class="site-headline font-weight-bolder mb-3 dispaly-4" style="font-size:70px;">
                      Remainder Management System
                    </h1>
                    <div class="site-tagline mb-4" style="font-size: 22px;">
                        “ If you set your mind to it, you can accomplish what you want.”
                    </div>
                    <div class="cta-btns mb-lg-3">
                        <a href="login" class="btn btn-success mr-2 mb-3 font -weight-bolder">Get Stated
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </section>
      {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>