*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: white;
}

.row{
    background-color: white;
    
    /* box-shadow: 12px 12px 22px grey; */
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: rgb(63, 161, 2);
    border-radius: 1px solid;
    color: black;
}